$mainColor: #4caf50;
$mainColorHover: #3f9642;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius: 0.5em) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.route-planner {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 270px;
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  
  transition: all .3s ease-in-out;
  @include border-radius(5px);
  @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.161));

  .add-location-field,
  .add-location-button {
    width: 100%;
  }
  .add-location-button {
    margin-top: 10px;
    background-color: $mainColor;
  }
  .add-location-button:hover {
    background-color: $mainColorHover;
  }

  .location-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #f1f0f0;
    @include border-radius(5px);
    @include box-shadow(0, 1px, 3px, rgba(0,0,0,0.12));

    span {
      padding-left: 10px;
      font-size: 1.2em;
    }

    .location-item-index {
      padding: 5px;
      display: flex;
      background-color: $mainColor;
      font-size: .9em;
      color: #fff;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      @include border-radius(5px);
      @include box-shadow(0, 8px, 15px, rgba(0,0,0,0.1));
    }
  }

  .author {
    color: #888888;
    font-size: .8em;
    text-align: center;
    margin-top: 10px;
    @include no-select();
  }
}